<div class="container">

  <div class="well-fs about-well">
    <div class="avi">
      <img src="assets/images/avi.jpg" alt="faisal">
    </div>
    <div class="about-text-div">
      <p>
        Hey, my name is Faisal Rashid.<br><br>
        I'm a Software Developer with a {{experience ? experience : 2}} year experience in Web Development <br><br>
        I created this website to host some of the blogs that I write. <br><br>
        If you want to catch up you can reach me below!<br><br>
      </p>
      <ul>
        <li><a class="social-links" href="https://www.facebook.com/faisalrashid32" target="_blank"><img class="transition"
              src="assets/images/facebook.png" alt=""><span class="username transition">&nbsp; /faisalrashid32</span></a>
        </li>
        <li><a class="social-links" href="https://www.linkedin.com/in/faisalst32" target="_blank"><img class="transition"
              src="assets/images/linkedin.png" alt=""><span class="username transition">&nbsp; /in/faisalst32</span></a>
        </li>
        <li><a class="social-links" href="https://www.twitter.com/faisalst32" target="_blank"><img class="transition"
              src="assets/images/twitter.png" alt=""><span class="username transition">&nbsp; @faisalst32</span></a></li>
        <li><a class="social-links" href="https://github.com/faisalst32" target="_blank"><img class="transition"
              src="assets/images/github.png" alt=""><span class="username transition">&nbsp; /faisalst32</span></a></li>
      </ul>
    </div>
  </div>
</div>
