<nav class="navbar-fs">
  <div class="home"><a>Faisal Rashid</a></div>
  <div class="nav-link-fs transition"><a [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog</a></div>
  <div class="nav-link-fs transition"><a href="http://games.faisalrashid.xyz" target="_blank">Games</a></div>
  <div class="nav-link-fs transition"><a [routerLink]="['/about-me']" routerLinkActive="router-link-active">About Me</a></div>
  <div *ngIf="!loggedIn()" class="nav-link-fs transition"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></div>
  <div *ngIf="loggedIn()" (click)="onLogout()" class="nav-link-fs transition"><a>Logout</a></div>
  <div *ngIf="loggedIn()" class="nav-link-fs transition write-new"><a [routerLink]="['/write-new']" routerLinkActive="router-link-active" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Write New</a></div>
</nav>
