.navbar-fs{
  display: flex;
  height: 55px;
  flex-flow: row wrap;
  background-color: #251f1f;
  color: white;
  width: 100%;
  align-items: center;
  justify-items: center;
}

i.fas, i.fa{
  color: #EC4E20;
}

.menu-button {
  float: right;
  display: none;
}

.navbar-fs .nav-link-fs a, .home-link{
  color: white;
  height: 55px;
  text-decoration: none;
  display: inline-block;
  transition: all 200ms ease-in-out;
}
.navbar-fs .nav-link-fs{
  flex-basis: 100px;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
}

.navbar-fs .nav-link-fs.write-new{
  margin-left: auto;
  margin-right: 20px;
  flex-grow: 0.2;
}
.navbar-fs .nav-link-fs:hover {
  background-color: #EC4E20;

}

.navbar-fs .nav-link-fs:hover a {
  transform: scale(1.1, 1.1);
}
.home{
  width: 250px;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 767px){
  .navbar-fs{
    flex-flow: column nowrap;
    height: auto;
    overflow: hidden;
  }

  .navbar-fs .nav-link-fs{
    flex-basis: auto;
  }

  .navbar-fs .nav-link-fs.write-new {
    margin-left: 0;
    margin-right: 0;
    flex-grow: 0;
  }
  .menu-button{
    display: inline;
  }

  .navbar-fs.menu-expanded.logged-in {
    max-height: 330px;
  }
  .navbar-fs.menu-expanded.logged-out {
    max-height: 275px;
  }
  .navbar-fs.menu-collapsed {
    max-height: 55px;
  }

}

