.page-content{
  margin: 25px auto;
}
.text-input-group{
  margin-bottom: 30px;
  height: 40px;
  line-height: 40px;
}
.input-label{
  font-size: 1.5rem;
}
.file-picker{
  position: relative;
  width: cal(100% - 15px);
  text-align: center;
  cursor: pointer;
}
input[type=file].banner-image-picker{
  opacity: 1;
  left: 0;
  top: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

:host ::ng-deep .ck-editor__editable {
  min-height: 500px;
  color: black;
}
