<div class="blog-header">
  <img class="blog-header-img transition" src="../../../assets/images/blog-header.jpg" alt="image">
  <div class="blog-header-overlay transition">
    <div class="overlay-text">
      The Journey Begins!
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-1.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        Let's Fight
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-3.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        Why do we fall, Bruce?
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-4.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        Is it a Hazard?
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-5.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        Light the colors!
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-6.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        Capture Life!
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 blog-post">
    <img class="blog-post-img img-fluid transition" src="../../../assets/images/blog-2.jpg" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
        It's in your DNA!
      </div>
    </div>
  </div>
</div>
