.blog-header{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.blog-header>.blog-header-img{
  width: 100%;
  margin-top: -300px;
}
.blog-header:hover>.blog-header-img{
  transform: scale(1.1,1.1);
}
.blog-header-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,0.7);
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}
.blog-header:hover  .blog-header-overlay{
  opacity: 1;
}
.blog-header  .overlay-text{
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 3em;
  opacity: 0;
  transition: all 1s ease-in-out 1s;
  text-shadow: 0 1px 0 black;
}
.blog-header  .overlay-text.float-left{
  transform: translate(-10%);
  opacity: 1;
}


.blog-header  .overlay-text::first-letter{
  font-size: 4rem;
}



.blog-post{
  position: relative;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.blog-post:hover>.blog-post-img{
  transform: scale(1.1,1.1);
}
.blog-post-overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}
.blog-post:hover  .blog-post-overlay{
  opacity: 1;
}
.blog-post  .overlay-text{
  line-height: 300px;
  font-size: 3em;
  text-align: center;
}
.blog-post  .blog-heading::first-letter{
  font-size: 4rem;
}



.blog-details{
  margin-left: 15px;
  position: absolute;
  top: 200px;
}

.blog-post .blog-heading{
  bottom: 0;
  font-size: 3em;
}

.blog-date{
  font-size: 1.2rem;
}
.blog-subheading{
  font-size: 2rem;
}

.blog-post:hover .float-up{
  transform: translateY(-100px);
}

.pre-loader{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,1);
  left: 0;
  top: 0;
  z-index: 9;
}

@keyframes spin{
  100% {transform: rotate(360deg)}
}

.loader-spinner{
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  border: 5px solid dimgray;
  border-top: black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}




