
@font-face{
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #353232;
  color: rgba(255, 255, 255, 0.8);
  min-height: 100%;
}
.transition{
  transition: all 200ms ease-in-out;
}
.transition-slow{
  transition: all 500ms ease-in-out;
}
.transition-fast{
  transition: all 100ms ease-in-out;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: dimgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.text-input{
  border: 1px solid white;
  background-color: #1d1d1d;
  color: white;
  padding: 5px;
  border-radius: 2px;
}
.text-input:focus{
  border-width: 2px;
  color: white;
  outline: none;
}
.dark-button{
  border: 1px solid white;
  background-color: #1d1d1d;
  color: white;
  padding: 5px;
  border-radius: 2px;
}
.dark-button:active{
  border-width: 2px;
  outline: none;
  padding: 4px 5px;
}
.dark-button:focus{
  outline-color: white;
}
.dark-button:disabled{
  color:darkgray;
}
.router-link-active{
  font-weight: bold;
}

.colored-button{
  background-color: #EC4E20;
  color: white;
}

.anchor-link, .anchor-link:hover {
  color: #ec4e20;
}

