/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: Lato;
  src: url(assets/fonts/Lato-Light.ttf)
}

body{
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #353232;
  color: rgba(255, 255, 255, 0.8);
}
.transition{
  transition: all 200ms ease-in-out;
}
.transition-slow{
  transition: all 500ms ease-in-out;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: dimgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
