<div class="pre-loader" *ngIf="!hideLoader">
  <div class="loader-text">K.I.S.S - Keep It Simple Stupid!</div>

  <div class="loader-progress transition" [ngStyle]="{'width': 100/imagesCount*imagesLoadedCount.toString() + '%'}">

  </div>
</div>
<div class="blog-header">
  <img (load)="imageLoaded()" [class.scale-10]="hideLoader" class="blog-header-img transition"
    src="../../../assets/images/blog-header.jpg" alt="image">
  <div class="blog-header-overlay transition">

  </div>
  <div class="overlay-text " [class.float-left]="hideLoader">
    <span class="underline-transition">
      The Journey Begins!
    </span>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-6 col-sm-12 blog-post" *ngFor="let blog of blogPosts">
    <img (load)="imageLoaded()" [class.scale-10]="hideLoader" class="blog-post-img img-fluid transition"
      [src]="blog.imgSrc" alt="image">
    <div class="blog-post-overlay transition">
      <div class="overlay-text">
      </div>
    </div>
    <div class="blog-details transition">
      <div class="blog-heading float-up transition">
        {{blog.heading}}
      </div>
      <div class="blog-date transition" [class.float-up]="hideLoader">
        {{blog.date}}
      </div>
      <div class="blog-subheading transition" [class.float-up]="hideLoader">
        {{blog.subHeading}}
      </div>
    </div>


  </div>
</div>

